html, body {
  height: 100%;
  width: 100%; }

*, *:before, *:after {
  position: relative;
  box-sizing: border-box; }

.arrow {
  background-color: white;
  background-size: cover;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpolygon%20fill%3D%22blue%22%20points%3D%2250%2C%20100%200%2C%200%200%2C%20100%22%2F%3E%3C%2Fsvg%3E"); }

.arrow {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%3E%3Cpolygon%20fill%3D%22green%22%20points%3D%2250%2C%20100%200%2C%200%200%2C%20100%22%2F%3E%3C%2Fsvg%3E"); }
